# Auto detect text files and perform LF normalization
* text=auto
*.html linguist-detectable=false
*.pbm linguist-detectable=false
*.txt linguist-detectable=false
*.js linguist-detectable=false
*.eps linguist-detectable=false
